@import '~tachyons-sass/tachyons.scss';
@import './_variables.scss';

.title {
  color: $primary-color;
}
.sub-title{
  color: $secondary-color;
}
.bg-primary {
  background-color: $primary-color;
}

.bg-secondary {
  background-color: $secondary-color;
}

.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

.dark-color {
  color: $dark-color;
}

.medium-color {
  color: $medium-color;
}

.light-color {
  color: $light-color;
}

.aside > div {
  transition: -webkit-transform 0.3s ease-out;
  transform: translateX(-100%);
}

.aside[data-activated="true"] > div {
  transform: unset;
}
@media screen and (max-width: 550px){
  .f-headline-sm {
    font-size: 3.4rem;
  }
}
